@use '../../Foundation/global'as *;

.c-hero {
  position: relative;
  &__backGround {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 500px;
    background-color: #eaddcf;
    opacity: .4;
    @include mq("tab") {
      height: 300px;
    }
  }
  &__img {
    height: 500px;
    @include mq("tab") {
      height: 300px;
    }
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 10% 10%;
    }
  }
  &__titleBox {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-background-sub;
    & P {
      font-size: 24px;
      @include mq("tab") {
        font-size: 16px;
      }
    }
  }
  &__title {
    font-size: 48px;
    @include mq("tab") {
      font-size: 32px;
      white-space: nowrap;
    }
  }
}