@use '../Foundation/global' as *;
.l-container {
  width: $width-base;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
  padding: 0 $padding-pc;

  @include mq('tab') {
    padding-left: $padding-tab;
    padding-right: $padding-tab;
    // width: calc(100% - #{$padding-tab} * 2);
  }

  @include mq('sp') {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    // width: calc(100% - #{$padding-sp} * 2);
  }
}
