@use '../Foundation/global' as *;

.l-footer {
  padding: 0 $padding-pc;
  // position: absolute;
  bottom: 0;
  width: 100%;

  @include mq(tab-only) {
    padding: 0 $padding-tab;
  }

  @include mq(sp) {
    padding: 0 $padding-sp;
  }
}
