@use '../Foundation/global'as *;
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  height: $header-height-pc;
  width: 100%;
  z-index: map-get($layer, 'header');

  @include mq(tab) {
    height: $header-height-tab;
  }

  @include mq(sp) {
    height: $header-height-sp;
  }
}
