@use '../Foundation/global' as *;
.l-main {
  padding-top: $header-height-pc;
  background-color: $color-background-sub;

  @include mq(tab) {
    padding-top: $header-height-tab;
  }

  @include mq(sp) {
    padding-top: $header-height-sp;
  }
}