@use '../../Foundation/global'as *;
.p-blog {
  padding: 100px 0;
  @include mq('tab') {
    padding: 50px 0;
  }
  &__date {
    font-size: 18px;
  }
  &__title {
    font-size: 32px;
    margin-top: 20px;
  }
  &__thumbnail {
    margin-top: 10px;
  }
  &__content {
    margin-top: 40px;
  }
}