@use '../../Foundation/global' as *;
.p-footer {
  // background-color: $color-main;
  padding: 80px 0 0;

  &__contentList {
    display: flex;
    gap: 50px;
    list-style: none;
    color: $color-background-sub;
  }
  &__contentItem {
    position: relative;
  }

  &__imgContainer {
    height: 200px;
    max-width: 350px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__title {
    font-size: 48px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
  }
  &__text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
  }
  &__line {
    border-bottom: #fff 1px solid;
    margin-top: 80px;
  }
  &__textBox {
    display: flex;
    justify-content: space-between;
    margin: 80px auto 0;
    width: 100%;
    max-width: 850px;
  }
  &__boxList {
    list-style: none;
    color: #fff;
    // display: flex;
  }
  &__item > a {
    text-decoration: none;
    color: #fff;
  }
  &__item {
    + &__item {
      margin-bottom: 20px;
    }
  }
  &__shopList > a {
    text-decoration: none;
    color: #fff;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
  }
  &__navList {
    list-style: none;
  }
  &__logoContainer {
    width: 300px;
    height: 100px;
  }
  &__logo {
    width: 24px;
  }
}

.p-footer__item + .p-footer__item {
  margin-top: 10px;
}
.p-footer__shopList + .p-footer__shopList {
  // margin-top: 5px;
}
