@use '../../Foundation/global'as *;

.p-header {
  background-color: $color-background-sub;
  &__titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    height: 100px;
  }
  &__menuList {
    display: flex;
    height: 50px;
    list-style: none;
    padding: 0;
    border-top: 1.5px solid #CBCBCB;
  }
  &__menuItem {
    display: flex;
    & a {
      padding: 10px 30px;
      display: flex;
      gap: 10px;
      text-decoration: none;
      color: $color-text;
    }
    &:not(:first-child){
      border-left: 1.5px solid #CBCBCB;
    }
  }
  &__menuText {
    font-size: 16px;
  }
  &__menuLogo {
    width: 20px;
    height: 20px;
  }
}