@use '../../Foundation/global' as *;
.p-info {
  background-color: $color-background;
  padding-top: 120px;
  @include mq('tab') {
    padding-top: 60px;
  }
  &__titleBox {
    text-align: center;
  }
  &__title {
    font-size: 32px;
    @include mq("tab") {
      font-size: 24px;
    }
  }
  &__linefeed {
    display: none;
    @include mq("sp") {
      display: block;
    }
  }
  &__list {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 50px;
    @include mq('tab') {
      gap: 25px;
      display: block;
    }
    @include mq('sp') {
      margin-top: 50px;
    }
  }
  &__item {
    list-style: none;
    width: 30%;
    max-width: 350px;
    @include mq('tab') {
      width: 100%;
      margin: 0 auto;
      max-width: 400px;
      & + .p-info__item {
        margin-top: 50px;
      }
    }
    & a {
      display: block;
      width: 100%;
    }
  }
  &__imgBox {
    width: 100%;
    height: 200px;
    @include mq("tab") {
      height: 250px;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    @include mq('tab') {
      object-fit: cover;
    }
  }
  &__text {
    font-size: 16px;
    color: $color-text;
    margin-top: 20px;
    display: inline-block;
    text-decoration: underline;
  }
  &__notFound {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    color: $color-text;
  }
  &__listLinkBox {
    text-align: right;
    margin-top: 30px;
  }
  &__listLink {
    position: relative;
    right: 0;
    padding-right: 60px;
    text-decoration: none;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      top: -8px;
      right: 0;
      display: block;
      width: 40px;
      height: 40px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: $color-main;
    }
    &::after{
      content: '';
      position: absolute;
      display: block;
      top: 7px;
      right: 15px;
      // transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-top: 3px solid #fff;
      border-right: 3px solid #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &__btn {
    display: block;
    margin: 0 auto;
    background-color: $color-main;
    cursor: pointer;
  }
}
