@use '../../Foundation/global' as *;
.p-news {
  padding: 120px 0 80px;
  max-width: 1000px;
  margin: 0 auto;

  &__container {
    margin-top: 80px;
  }
  &__list {
    display: flex;
    gap: 40px;
    list-style: none;
    @include mq('tab') {
      gap: 15px;
      flex-direction: column;
    }
  }
  &__date {
    white-space: nowrap;
    color: $color-text;
  }
  &__text > a {
    color: $color-text;
    text-decoration: none;
  }
}
