@use '../../Foundation/global' as *;
.p-news {
  padding: 120px 0 80px;
  max-width: 1000px;
  margin: 0 auto;
  @include mq('tab') {
    padding: 30px 0 40px;
  }
  &__container {
    margin-top: 80px;
    @include mq('tab') {
      margin-top: 40px;
    }
  }
  &__article {
    display: flex;
    gap: 40px;
    list-style: none;
    + .p-news__article {
      margin-top: 50px;
    }
    @include mq('tab') {
      gap: 15px;
      flex-direction: column;
    }
  }
  &__date {
    white-space: nowrap;
    color: $color-text;
  }
  &__text > a {
    color: $color-text;
    text-decoration: none;
  }
  &__btnContainer {
    text-align: center;
    margin-top: 40px;
  }
  &__btn {
    background-color: $color-main;
    width: 200px;
    height: 50px;
    border: none;
    color: $color-background-sub;
  }
}
