@use '../../Foundation/global' as *;
.p-question {
  padding: 30px 0 80px;
  background-color: #fff;
  @include mq('tab') {
    padding: 30px 0 60px;
  }
  &__container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }
  &__list {
    margin-top: 50px;
    padding-top: 10px;
    list-style: none;
    text-align: left;
    border-top: solid gray 1px;
    & hr {
      margin: 10px 0;
    }
  }
  // &__item {
  // }
  &__textBox {
    position: relative;
    display: flex;
    cursor: pointer;
  }
  &__text {
    width: 95%;
    @include mq("sp") {
      width: 90%;
    }
  }
  &__triger {
    color: $color-text;
    &::before {
      content: '';
      border-top: 1px solid black;
      width: 20px;
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: rotate(90deg);
      transition-duration: 0.5s;
    }
    &.open::before {
      content: '';
      border-top: 1px solid black;
      width: 20px;
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: rotate(0);
      transition-duration: 0.5s;
    }
    &::after {
      content: '';
      border-top: 1px solid black;
      width: 20px;
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
  &__text--hidden {
    background-color: #f8f8f8;
    padding: 15px;
    display: none;
  }
}
