@use '../../Foundation/global'as *;
.p-recruiting {
  margin: 160px auto 0;
  padding-bottom: 80px;
  max-width: 700px;
  @include mq("tab") {
    margin: 80px auto 0;
    padding-bottom: 40px;
  }
  &__textBox {
    text-align: center;
  }
  &__form {
    margin-top: 30px;
  }
  &__list {
    list-style: none;
  }
  &__checkItem {
    margin-top: 15px;
  }
  &__listItem {
    display: flex;
    flex-direction: column;
    &:not(:first-child) {
      margin-top: 25px;
    }
  }
  &__label {
    display: block;
  }
  &__linefeed {
    display: none;
    @include mq("sp") {
      display: block;
    }
  }
  &__input {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: 0.5px solid $color-text;
  }
  &__textarea {
    height: 240px;
    margin-top: 10px;
    border: 0.5px solid $color-text;
  }
  &__policy {
    margin-top: 60px;
    text-align: center;
  }
  &__policyCheck {
    margin-top: 25px;
  }
  &__submit {
    display: block;
    width: 200px;
    height: 50px;
    margin: 45px auto 0;
    padding: 15px 0;
    text-align: center;
    color: $color-background-sub;
    background-color: $color-text;
    border: none;
    border-radius: 5px;
  }
}