@use '../../Foundation/global' as *;

.p-shopIntroduction {
  margin-top: 80px;
  &__wrapper {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 35px;
    @include mq('tab') {
      display: block;
      margin-top: 20px;
    }
  }
  &__img {
    max-width: 500px;
    height: 350px;
    width: 50%;
    @include mq('tab') {
      max-width: 100%;
      width: 100%;
      height: 60vw;
    }
    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__textBox {
    max-width: 50%;
    font-size: 16px;
    @include mq('tab') {
      max-width: 100%;
      margin-top: 20px;
    }
    // & p:not(:first-child) {
    //   margin: 1rem 0rem 0rem;
    // }
  }
  &__title {
    margin-top: 15px;
    font-weight: bold;
    @include mq("sp") {
      margin-top: 10px;
    }
  }
}