@use '../../Foundation/global' as *;

.p-shopList {
  color: $color-text;
  padding: 80px 0 170px;
  @include mq('tab') {
    padding: 60px 0 80px;
  }
  &__areaList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 85px;
    gap: 40px 90px;
    @include mq('tab') {
      margin-top: 40px;
      gap: 15px 20px;
    }
    @include mq("sp") {
      gap: 10px;
    }
  }
  &__areaItem {
    width: 300px;
    height: 80px;
    @include mq("tab") {
      width: 260px;
    }
    @include mq("sp") {
      width: 130px;
      height: 50px;
    }
  }
  &__areaButton {
    border: none;
    background-color: $color-sub;
    color: $color-background-sub;
    width: 100%;
    height: 100%;
    font-size: 24px;
    border-radius: 5px;
    position: relative;
    padding: 0;
    cursor: pointer;
    @include mq('sp') {
      font-size: 13px;
    }
    &::after {
      content: '';
      width: 15px;
      height: 15px;
      border-top: solid 2px;
      border-right: solid 2px;
      transform: rotate(135deg);
      position: absolute;
      top: 30px;
      right: 35px;
      @include mq("tab") {
        width: 12px;
        height: 12px;
        right: 25px;
      }
      @include mq("sp") {
        width: 8px;
        height: 8px;
        top: 18px;
        right: 12px;
      }
    }
  }
  &__shopInfoWrapper {
    margin-top: 80px;
    font-weight: bold;
    display: none;
    &.show {
      display: block;
    }
    @include mq('tab') {
      margin-top: 60px;
    }
  }
  &__shopInfoArea {
    font-size: 36px;
    text-align: center;
    @include mq('tab') {
      font-size: 34px;
    }
  }
  &__shopInfoList {
    margin-top: 60px;
    gap: 80px 0;
    @include mq('tab') {
      margin-top: 50px;
      gap: 40px 0;
    }
  }
  &__shopInfoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    &:not(:first-child) {
      margin-top: 40px;
    }
    @include mq('tab') {
      position: relative;
      display: block;
      width: 100%;
    }
  }
  &__shopInfoImg {
    width: 240px;
    height: 180px;
    margin-right: 50px;
    aspect-ratio: 0;
    @include mq('tab') {
      width: 300px;
      height: 225px;
    }
  }
  &__shopIntroduce {
    max-width: 400px;
    width: 40%;
    @include mq('tab') {
      word-wrap: break-word;
      width: 100%;
      max-width: 100%;
    }
  }
  &__shopName {
    font-size: 24px;
    text-decoration: underline;
    @include mq('tab') {
      font-size: 22px;
      margin-top: 20px;
    }
  }
  &__shopPostalCode {
    margin-top: 40px;
    @include mq('tab') {
      margin-top: 20px;
    }
  }
  &__shopPostalCode,
  &__shopAddress,
  &__shopTelNum {
    font-size: 16px;
    @include mq('tab') {
      font-size: 14px;
    }
  }
  &__shopIntroduceButton {
    width: 200px;
    height: 50px;
    font-size: 22px;
    background-color: $color-background-sub;
    border-radius: 5px;
    border-color: $color-border;
    cursor: pointer;
    @include mq('tab') {
      width: 100%;
      font-size: 20px;
      margin-top: 20px;
    }
  }
  &__text {
    text-align: center;
    font-size: 24px;
    margin-top: 60px;
  }
}