@use '../../Foundation/global' as *;

.p-shopInfomation {
  margin-top: 60px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    @include mq('tab') {
      display: block;
      margin-top: 40px;
    }
  }

  &__infoContent {
    max-width: 40%;
    overflow-wrap: break-word;

    @include mq('tab') {
      max-width: 100%;
    }
  }

  &__shopName {
    font-size: 32px;
    font-weight: bold;

    @include mq('tab') {
      font-size: 30px;
    }

    @include mq('sp') {
      font-size: 28px;
    }
  }

  &__shopAddress {
    font-size: 24px;
    margin-top: 40px;
    font-weight: bold;

    @include mq('tab') {
      font-size: 22px;
      margin-top: 20px;
    }

    @include mq('sp') {
      font-size: 20px;
    }
  }

  &__shopHours {
    font-size: 24px;
    margin-top: 40px;

    @include mq('tab') {
      font-size: 22px;
      margin-top: 20px;
    }

    @include mq('sp') {
      font-size: 20px;
    }
  }

  &__shopImg {
    max-width: 500px;
    height: 350px;
    width: 50%;

    @include mq('tab') {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
      margin-top: 40px;
    }

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__contact {
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    margin: 80px auto 0;
    max-width: 1050px;

    & li:not(:first-child) {
      @include mq('tab') {
        margin-top: 10px;
      }
    }

    @include mq('tab') {
      justify-content: flex-start;
      display: block;
      margin-top: 40px;
    }
  }

  &__contactLink {
    width: 100%;
    height: 100%;
    display: contents;

    &:visited {
      color: $color-background-sub;
    }
  }

  &__contactMail,
  &__contactTel,
  &__contactLine {
    display: flex;
    justify-content: space-around;
    color: $color-background-sub;
    text-decoration: none;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    max-width: 300px;
    width: 30%;
    height: 100px;
    padding: 0 20px;

    @include mq('tab') {
      justify-content: flex-start;
      max-width: 80%;
      width: 80%;
      height: 80px;
      margin: 0 auto;
      padding: 0 10%;
    }

    @include mq('sp') {
      max-width: 100%;
      width: 100%;
      height: 60px;
    }
  }

  &__contactMail {
    background-color: $color-main;
    font-size: 24px;

    @include mq('tab') {
      font-size: 22px;
    }

    @include mq('sp') {
      font-size: 20px;
    }
  }

  &__contactMailImg {
    width: 35px;
    height: 35px;

    @include mq('tab') {
      margin-right: 50px;
    }
  }

  &__contactTel {
    background-color: #009DFF;
    font-size: 20px;

    @include mq('tab') {
      font-size: 22px;
    }

    @include mq('sp') {
      font-size: 20px;
    }
  }

  &__contactTelImg {
    width: 35px;
    height: 35px;

    @include mq('tab') {
      margin-right: 50px;
    }
  }

  &__contactTelInfo {
    text-align: center;

    @include mq('tab') {
      display: block;
      align-items: center;
    }
  }

  &__contactTelNum {
    background-color: $color-background-sub;
    color: #009DFF;
    padding: 10px 7px;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 15px;

    @include mq('tab') {
      margin: auto 0;
      padding: 5px 4px;
    }

    @include mq('sp') {
      font-size: 12px;
      padding: 1px 2px;
    }
  }

  &__contactLine {
    background-color: #5AC363;
    font-size: 24px;

    @include mq('tab') {
      font-size: 22px;
    }

    @include mq('sp') {
      font-size: 20px;
    }
  }

  &__contactLineImg {
    width: 35px;
    height: 35px;

    @include mq('tab') {
      margin-right: 50px;
    }
  }
}