@use '../../Foundation/global' as *;

.p-shop {
  padding: 80px 0 0;
  @include mq('tab') {
    padding: 40px 0;
  }
  &__container {
    margin-top: 60px;
    @include mq('tab') {
      margin-top: 30px;
    }
  }
  &__list {
    list-style: none;
  }
  &__item {
    display: flex;
    color: $color-text;
    border-bottom: dotted 1px $color-border;
  }
  &__area {
    max-width: 200px;
    width: 100%;
    background-color: $color-main;
    color: $color-background-sub;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    @include mq('tab') {
      font-size: 18px;
    }
  }
  &__innerArea {
    border-top: solid 1px $color-border;
    border-right: solid 1px $color-border;
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
  }
  &__iconPref {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
  &__iconContainer {
    margin-left: 20px;
  }
  &__icon {
    width: 24px;
  }
  &__pref {
    margin-left: 10px;
    font-size: 16px;
  }
  &__shopNameList {
    display: flex;
    flex-wrap: wrap;
    @include mq('tab') {
      margin-top: 10px;
      justify-content: flex-start;
    }
  }
  &__shopName {
    list-style: none;
    margin: 20px;
    font-size: 18px;
    width: 100px;
    border: solid;
    text-align: center;
    @include mq('tab') {
      margin: 10px;
    }
  }
  &__shopName > a {
    text-decoration: none;
    color: $color-text;
  }
}
