@use "../../Foundation/global" as *;

.sitemap {
  padding: 100px 0;
  @include mq('tab') {
    padding: 50px 0;
  }
  &__item {
    list-style: none;
    margin-top: 30px;
  }
  &__subTitle {
    margin-top: 20px;
  }
  &__text {
    margin-top: 10px;
  }
  &:first-child  {
    margin-top: 0;
    // padding-top: 80px;
  }
  &:last-child {
    padding-bottom: 80px;
  }
  &__list {
    list-style: inside;
  }
}