@use '../../Foundation/global' as *;
.p-topNews {
  background-color: $color-background;
  padding: 120px 0 80px;
  margin: 0 auto;
  @include mq('tab') {
    padding: 60px 0 60px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 80px auto 0;
    @include mq('tab') {
      margin-top: 40px;
      gap: 30px;
    }
    @include mq('sp') {
      margin-top: 40px;
      gap: 30px;
    }
  }
  &__article {
    list-style: none;
    + .p-news__article {
      margin-top: 50px;
    }
    & a {
      display: flex;
      gap: 40px;
      width: 100%;
      text-decoration: none;
      color: $color-text;
      @include mq('tab') {
        gap: 5px;
        flex-direction: column;
      }
      @include mq('sp') {
        gap: 5px;
        flex-direction: column;
      }
    }
  }
  &__date {
    white-space: nowrap;
  }
  &__articleTitle p {
    text-decoration: none;
  }
  &__btnContainer {
    text-align: center;
    margin-top: 40px;
  }
  &__btn {
    background-color: $color-main;
    width: 200px;
    height: 50px;
    border: none;
    color: $color-background-sub;
  }
  &__text {
    margin: 0 auto;
  }
  &__listLinkBox {
    text-align: right;
    margin-top: 30px;
    @include mq('tab') {
      margin-top: 20px;
    }
  }
  &__listLink {
    position: relative;
    right: 0;
    margin: 0 80px 0 auto;
    padding-right: 60px;
    text-decoration: none;
    cursor: pointer;
    @include mq('tab') {
      margin: 0 auto;
    }
    &::before{
      content: '';
      position: absolute;
      top: -8px;
      right: 0;
      display: block;
      width: 40px;
      height: 40px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: $color-main;
    }
    &::after{
      content: '';
      position: absolute;
      display: block;
      top: 7px;
      right: 15px;
      // transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-top: 3px solid #fff;
      border-right: 3px solid #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &__btn {
    display: block;
    margin: 0 auto;
    background-color: $color-main;
    cursor: pointer;
  }
}
