@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  color: #1B224C;
  letter-spacing: normal;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  min-height: 100%;
}

/* A Modern CSS Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  z-index: 20;
}
@media (max-width: 900px) {
  .l-header {
    height: 100px;
  }
}
@media (max-width: 599px) {
  .l-header {
    height: 80px;
  }
}

.l-main {
  padding-top: 150px;
  padding-bottom: 70px;
  background-color: #FFF;
}
@media (max-width: 900px) {
  .l-main {
    padding-top: 100px;
    padding-bottom: 35px;
  }
}
@media (max-width: 599px) {
  .l-main {
    padding-top: 80px;
    padding-bottom: 18px;
  }
}

.l-container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
  padding: 0 40px;
}
@media (max-width: 900px) {
  .l-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 599px) {
  .l-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.l-footer {
  bottom: 0;
  width: 100%;
  background-color: #ff9801;
}
.l-footer__bottom {
  background-color: #fff;
  padding: 0 40px;
  bottom: 0;
  width: 100%;
}
@media (min-width: 600px) and (max-width: 900px) {
  .l-footer__bottom {
    padding: 0 30px;
  }
}
@media (max-width: 599px) {
  .l-footer__bottom {
    padding: 0 20px;
  }
}

.l-wrapper {
  min-height: 100vh;
  position: relative;
}

.c-sample {
  font-size: 18px;
  background-color: #FF9801;
}

.c-btn {
  background-color: #006BBA;
  color: #FFF;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-size: 16px;
}
.c-btn__contact {
  background-color: #FF9800;
  color: #FFF;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-size: 16px;
}

.c-titleBox {
  text-align: center;
}
.c-titleBox__wrapper {
  position: relative;
  display: inline-block;
}
.c-titleBox__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -40px;
  width: 1px;
  height: 70px;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
  background-color: #1B224C;
}
.c-titleBox__wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -40px;
  width: 1px;
  height: 70px;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
  background-color: #1B224C;
}
.c-titleBox__title {
  font-size: 32px;
}
@media (max-width: 900px) {
  .c-titleBox__title {
    font-size: 28px;
  }
}
.c-titleBox__text {
  font-size: 16px;
}

.c-titleBox {
  text-align: center;
}

.c-hero {
  position: relative;
}
.c-hero__img {
  height: 500px;
}
@media (max-width: 900px) {
  .c-hero__img {
    height: 300px;
  }
}
.c-hero__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-hero__title {
  font-size: 48px;
  color: #FFF;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 900px) {
  .c-hero__title {
    font-size: 32px;
    white-space: nowrap;
  }
}

.p-example {
  width: 300px;
  height: 100px;
}

.p-revue {
  padding: 80px 0;
}
@media (max-width: 900px) {
  .p-revue {
    padding: 40px 0;
  }
}
.p-revue__list {
  list-style: none;
  max-width: 900px;
  margin: 0 auto;
}
.p-revue__item.p-revue__item {
  margin-top: 40px;
}
@media (max-width: 900px) {
  .p-revue__item.p-revue__item {
    margin-top: 20px;
  }
}
.p-revue__date {
  font-size: 16px;
}
.p-revue__title {
  font-size: 24px;
  margin-top: 20px;
}
@media (max-width: 900px) {
  .p-revue__title {
    font-size: 20px;
    margin-top: 10px;
  }
}
.p-revue__text {
  font-size: 16px;
  margin: 20px 0 40px;
}
@media (max-width: 900px) {
  .p-revue__text {
    margin: 10px 0 20px;
  }
}

.p-info__list {
  margin-top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media (max-width: 900px) {
  .p-info__list {
    gap: 25px;
    display: block;
  }
}
@media (max-width: 599px) {
  .p-info__list {
    margin-top: 50px;
  }
}
.p-info__item {
  list-style: none;
  max-width: 350px;
}
@media (max-width: 900px) {
  .p-info__item {
    margin: 0 auto;
    max-width: 400px;
  }
  .p-info__item + .p-info__item {
    margin-top: 50px;
  }
}
.p-info__image {
  width: 100%;
  height: 100%;
}
@media (max-width: 900px) {
  .p-info__image {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.p-info__text {
  font-size: 16px;
  color: #1B224C;
  margin-top: 20px;
  display: inline-block;
}

.p-work {
  padding: 120px 0 80px;
}
@media (max-width: 900px) {
  .p-work {
    padding: 60px 0 40px;
  }
}
.p-work__list {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.p-work__list :nth-child(n+5) {
  margin-top: 30px;
}
@media (max-width: 900px) {
  .p-work__list {
    gap: 50px;
    display: block;
    margin: 40px auto 0;
    max-width: 400px;
  }
}
.p-work__item {
  list-style: none;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 900px) {
  .p-work__item {
    width: auto;
    margin: 0 auto;
  }
  .p-work__item + .p-work__item {
    margin-top: 50px;
  }
}
.p-work__imgContainer {
  max-width: 300px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .p-work__imgContainer {
    margin: 0 auto;
  }
}
.p-work__image {
  width: 100%;
  height: auto;
}
.p-work__title {
  font-size: 32px;
  margin-top: 40px;
  color: #1B224C;
  white-space: nowrap;
}
@media (max-width: 900px) {
  .p-work__title {
    font-size: 20px;
    margin-top: 20px;
  }
}
.p-work__text {
  margin-top: 25px;
  font-size: 16px;
  color: #1B224C;
}
@media (max-width: 900px) {
  .p-work__text {
    margin-top: 20px;
  }
}

.p-menu {
  padding: 80px 0;
  background-color: #FFF;
}
@media (max-width: 900px) {
  .p-menu {
    padding: 40px 0;
  }
}
.p-menu__topText {
  text-align: center;
  font-size: 16px;
}
.p-menu__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}
@media (max-width: 900px) {
  .p-menu__container {
    margin-top: 40px;
  }
}
.p-menu__textContainer {
  max-width: 600px;
  width: 100%;
  height: 100px;
  border: solid 1px black;
  text-align: center;
  padding: 20px;
}
@media (max-width: 900px) {
  .p-menu__textContainer {
    max-width: 600px;
    min-width: 120px;
    padding: 20px 0;
  }
}
.p-menu__textContainer.orange {
  max-width: 600px;
  width: 100%;
  height: 100px;
  padding: 20px;
  text-align: center;
  background-color: #FF9801;
  position: relative;
  border: none;
}
.p-menu__textContainer.orange ::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #FF9801 transparent transparent transparent;
  border-width: 20px 20px 0 20px;
}
@media (max-width: 900px) {
  .p-menu__textContainer.orange {
    max-width: 600px;
    min-width: 120px;
    padding: 20px 0;
  }
}
.p-menu__title {
  font-size: 32px;
  color: #FF9801;
}
@media (max-width: 900px) {
  .p-menu__title {
    white-space: nowrap;
    font-size: 28px;
  }
}
@media (max-width: 599px) {
  .p-menu__title {
    font-size: 18px;
  }
}
.p-menu__title.white {
  font-size: 32px;
  color: #FFF;
}
@media (max-width: 900px) {
  .p-menu__title.white {
    white-space: nowrap;
    font-size: 28px;
  }
}
@media (max-width: 599px) {
  .p-menu__title.white {
    font-size: 18px;
  }
}
.p-menu__subTitle {
  font-size: 16px;
}
@media (max-width: 900px) {
  .p-menu__subTitle {
    white-space: nowrap;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .p-menu__subTitle {
    font-size: 16px;
  }
}
.p-menu__subTitle.white {
  font-size: 16px;
  color: #FFF;
}
@media (max-width: 900px) {
  .p-menu__subTitle.white {
    white-space: nowrap;
    font-size: 16px;
  }
}
.p-menu__list {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.p-menu__list :nth-child(n+5) {
  margin-top: 30px;
}
@media (max-width: 900px) {
  .p-menu__list {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .p-menu__list :nth-child(n+3) {
    margin-top: initial;
  }
}
.p-menu__item {
  list-style: none;
  width: 20%;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .p-menu__item {
    width: 40%;
  }
}
.p-menu__imgContainer {
  max-width: 275px;
}
@media (max-width: 900px) {
  .p-menu__imgContainer {
    max-width: initial;
    height: auto;
  }
}
.p-menu__image {
  width: 100%;
  height: auto;
}
.p-menu__text {
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 900px) {
  .p-menu {
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .p-menu {
    font-size: 16px;
  }
}
.p-menu__btnContainer {
  text-align: center;
  margin-top: 40px;
}
.p-menu__btn {
  background-color: #FF9801;
  width: 200px;
  height: 50px;
  border: none;
  color: #FFF;
}

.p-shop {
  padding: 80px 0 0;
}
@media (max-width: 900px) {
  .p-shop {
    padding: 40px 0;
  }
}
.p-shop__container {
  margin-top: 60px;
}
@media (max-width: 900px) {
  .p-shop__container {
    margin-top: 30px;
  }
}
.p-shop__list {
  list-style: none;
}
.p-shop__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #1B224C;
  border-bottom: dotted 1px #707070;
}
.p-shop__area {
  max-width: 200px;
  width: 100%;
  background-color: #FF9801;
  color: #FFF;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
}
@media (max-width: 900px) {
  .p-shop__area {
    font-size: 18px;
  }
}
.p-shop__innerArea {
  border-top: solid 1px #707070;
  border-right: solid 1px #707070;
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
}
.p-shop__iconPref {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.p-shop__iconContainer {
  margin-left: 20px;
}
.p-shop__icon {
  width: 24px;
}
.p-shop__pref {
  margin-left: 10px;
  font-size: 16px;
}
.p-shop__shopNameList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media (max-width: 900px) {
  .p-shop__shopNameList {
    margin-top: 10px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.p-shop__shopName {
  list-style: none;
  margin: 20px;
  font-size: 18px;
  width: 100px;
  border: solid;
  text-align: center;
}
@media (max-width: 900px) {
  .p-shop__shopName {
    margin: 10px;
  }
}
.p-shop__shopName > a {
  text-decoration: none;
  color: #1B224C;
}

.p-news {
  padding: 120px 0 80px;
  max-width: 1000px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .p-news {
    padding: 30px 0 40px;
  }
}
.p-news__container {
  margin-top: 80px;
}
@media (max-width: 900px) {
  .p-news__container {
    margin-top: 40px;
  }
}
.p-news__article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  list-style: none;
}
.p-news__article + .p-news__article {
  margin-top: 50px;
}
@media (max-width: 900px) {
  .p-news__article {
    gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.p-news__date {
  white-space: nowrap;
  color: #1B224C;
}
.p-news__text > a {
  color: #1B224C;
  text-decoration: none;
}
.p-news__btnContainer {
  text-align: center;
  margin-top: 40px;
}
.p-news__btn {
  background-color: #FF9801;
  width: 200px;
  height: 50px;
  border: none;
  color: #FFF;
}

.p-contact {
  padding: 30px 0 80px;
  background-color: #fff;
}
@media (max-width: 900px) {
  .p-contact {
    padding: 30px 0 40px;
  }
}
.p-contact__container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.p-contact__list {
  margin-top: 50px;
  list-style: none;
  text-align: left;
  border-top: solid gray 1px;
}
.p-contact__text {
  padding: 10px 0;
  position: relative;
}
.p-contact__triger {
  color: #1B224C;
}
.p-contact__triger::before {
  content: "";
  border-top: 1px solid black;
  width: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.p-contact__triger.open::before {
  content: "";
  border-top: 1px solid black;
  width: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.p-contact__triger::after {
  content: "";
  border-top: 1px solid black;
  width: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
}
.p-contact__text--hidden {
  background-color: #f8f8f8;
  padding: 15px;
  display: none;
}

.p-footer {
  padding: 80px 0;
}
@media (max-width: 900px) {
  .p-footer {
    padding: 40px 0;
  }
}
.p-footer__contentList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  list-style: none;
  color: #FFF;
}
@media (max-width: 900px) {
  .p-footer__contentList {
    display: block;
  }
}
.p-footer__contentItem {
  position: relative;
  max-width: 350px;
}
@media (max-width: 900px) {
  .p-footer__contentItem {
    max-width: 400px;
    margin: 0 auto;
  }
  .p-footer__contentItem:nth-child(n+2) {
    margin-top: 30px;
  }
}
.p-footer__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-footer__textArea {
  position: absolute;
  top: 20%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  width: 100%;
  text-align: center;
}
@media (max-width: 900px) {
  .p-footer__textArea {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.p-footer__title {
  font-size: 48px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .p-footer__title {
    font-size: 40px;
  }
}
.p-footer__text {
  font-size: 18px;
  font-weight: bold;
}
.p-footer__line {
  border-bottom: #fff 1px solid;
  margin-top: 80px;
}
@media (max-width: 900px) {
  .p-footer__line {
    margin-top: 40px;
  }
}
.p-footer__textBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px auto 0;
  width: 100%;
  max-width: 850px;
}
@media (max-width: 900px) {
  .p-footer__textBox {
    margin: 40px auto 0;
  }
}
@media (max-width: 599px) {
  .p-footer__textBox {
    display: block;
  }
}
.p-footer__boxList {
  list-style: none;
  color: #fff;
}
@media (max-width: 599px) {
  .p-footer__boxList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .p-footer__boxList + .p-footer__boxList {
    margin-top: 30px;
  }
  .p-footer__boxList:nth-child(2) {
    display: block;
  }
}
.p-footer__item > a {
  text-decoration: none;
  color: #fff;
}
.p-footer__item {
  white-space: nowrap;
}
.p-footer__item + .p-footer__item {
  margin-top: 10px;
}
@media (max-width: 599px) {
  .p-footer__item + .p-footer__item {
    margin-top: auto;
  }
}
.p-footer__shopList {
  position: relative;
}
.p-footer__shopList > a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 599px) {
  .p-footer__triger::before {
    content: "";
    border-top: 1px solid #fff;
    width: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .p-footer__triger.open::before {
    content: "";
    border-top: 1px solid #fff;
    width: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .p-footer__triger::after {
    content: "";
    border-top: 1px solid #fff;
    width: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
  }
}
.p-footer__shopItem {
  position: relative;
  margin-left: 30px;
}
.p-footer__shopItem::before {
  content: "";
  border-top: 1px solid #fff;
  width: 12px;
  display: inline-block;
  position: absolute;
  top: 35%;
  left: -20px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}
.p-footer__shopItem::after {
  content: "";
  border-top: 1px solid #fff;
  width: 12px;
  display: inline-block;
  position: absolute;
  top: 60%;
  left: -20px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}
@media (max-width: 599px) {
  .p-footer__shopItem {
    white-space: nowrap;
    margin-left: 20px;
    display: none;
  }
}
.p-footer__shopItem > a {
  text-decoration: none;
  color: #fff;
}
.p-footer__category > a {
  text-decoration: none;
  color: #fff;
}
.p-footer__category {
  white-space: nowrap;
}
.p-footer__category + .p-footer__category {
  margin-top: 30px;
}
@media (max-width: 900px) {
  .p-footer__category + .p-footer__category {
    margin-top: 10px;
  }
}
@media (max-width: 599px) {
  .p-footer__category + .p-footer__category {
    margin-top: auto;
  }
}
.p-footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 599px) {
  .p-footer__nav {
    padding: 20px 0;
    display: block;
  }
}
.p-footer__logoContainer {
  max-width: 300px;
  width: 100%;
  height: 100px;
}
@media (max-width: 599px) {
  .p-footer__logoContainer {
    height: auto;
  }
}
.p-footer__logo {
  width: 24px;
}
.p-footer__navListBox {
  margin-left: 15%;
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}
@media (max-width: 900px) {
  .p-footer__navListBox {
    margin: auto;
    gap: 15px;
    font-size: 14px;
  }
}
@media (max-width: 599px) {
  .p-footer__navListBox {
    margin-top: 20px;
    gap: inherit;
  }
}
.p-footer__navList {
  list-style: none;
  height: 100px;
  line-height: 100px;
}
@media (max-width: 599px) {
  .p-footer__navList {
    line-height: inherit;
    height: auto;
    font-size: 8px;
  }
}

.p-header {
  background-color: #FFF;
  height: 100%;
}
.p-header__titleBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 900px) {
  .p-header__titleBox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 599px) {
  .p-header__titleBox {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.p-header__logo {
  height: 100px;
}
@media (max-width: 900px) {
  .p-header__logo {
    width: 200px;
    height: 100px;
  }
}
@media (max-width: 599px) {
  .p-header__logo {
    width: 40vw;
    min-width: 150px;
    height: 80px;
  }
}
.p-header__logo img {
  width: 100%;
  height: 100%;
}
@media (max-width: 599px) {
  .p-header__logo img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.p-header__menu {
  display: none;
}
@media (max-width: 900px) {
  .p-header__menu {
    position: relative;
    display: block;
    width: 40px;
  }
}
@media (max-width: 599px) {
  .p-header__menu {
    width: 30px;
  }
}
.p-header__menuArea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (max-width: 599px) {
  .p-header__menuArea {
    gap: 10px;
  }
}
@media (max-width: 599px) {
  .p-header__btnArea {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
}
@media (max-width: 900px) {
  .p-header__btn {
    width: 130px;
    font-size: 2vw;
  }
}
@media (max-width: 599px) {
  .p-header__btn {
    width: 20vw;
    min-width: 80px;
    height: 25px;
    font-size: 1.5vw;
  }
}
@media (max-width: 900px) {
  .p-header__contactBtn {
    width: 130px;
    font-size: 2vw;
  }
}
@media (max-width: 599px) {
  .p-header__contactBtn {
    width: 20vw;
    min-width: 80px;
    height: 25px;
    font-size: 1vw;
  }
}
.p-header__menuLine {
  height: 1px;
  width: 100%;
  background-color: #1B224C;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.p-header__menuLine:not(:first-child) {
  margin-top: 10px;
}
@media (max-width: 599px) {
  .p-header__menuLine:not(:first-child) {
    margin-top: 5px;
  }
}
.p-header__menuLine.open:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
}
.p-header__menuLine.open:nth-child(2) {
  opacity: 0;
}
.p-header__menuLine.open:nth-child(3) {
  position: absolute;
  top: 2px;
  right: 0;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}
@media (max-width: 599px) {
  .p-header__menuLine.open:nth-child(3) {
    top: 8px;
  }
}
.p-header__menuList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border-top: 1.5px solid #CBCBCB;
}
@media (max-width: 900px) {
  .p-header__menuList {
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 5px;
    width: 100%;
    height: calc( 100% - 100px );
    background-color: #FF9801;
    overflow-y: auto;
  }
}
@media (max-width: 599px) {
  .p-header__menuList {
    top: 80px;
    height: calc( 100% - 80px );
  }
}
.p-header__menuItem {
  padding: 10px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 900px) {
  .p-header__menuItem {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 95%;
    margin: 0 auto;
    padding: 10px 20px;
    border-bottom: 1.5px solid #F5F5F5;
  }
  .p-header__menuItem:last-child {
    border: none;
  }
}
.p-header__menuItem:not(:first-child) {
  border-left: 1.5px solid #CBCBCB;
}
@media (max-width: 900px) {
  .p-header__menuItem:not(:first-child) {
    border-left: none;
  }
}
.p-header__menuLink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 10px;
  width: 100%;
  text-decoration: none;
  color: #1B224C;
  text-align: center;
  white-space: nowrap;
}
@media (max-width: 900px) {
  .p-header__menuLink::before {
    content: "";
    border-top: 1px solid #fff;
    width: 12px;
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 0;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  .p-header__menuLink::after {
    content: "";
    border-top: 1px solid #fff;
    width: 12px;
    display: inline-block;
    position: absolute;
    top: 60%;
    right: 0;
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
}
.p-header__shopList {
  display: none;
  list-style: none;
}
.p-header__shopItem {
  width: 95%;
  margin: 0 auto;
  padding: 10px 20px 10px 70px;
  border-bottom: 1.5px solid #F5F5F5;
}
.p-header__shopItem a {
  position: relative;
  display: block;
  width: 100%;
  color: #FFF;
  text-decoration: none;
  font-size: clamp(0.9rem, 1.6vw, 1.3rem);
}
@media (max-width: 900px) {
  .p-header__shopItem a::before {
    content: "";
    border-top: 1px solid #fff;
    width: 12px;
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 0;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  .p-header__shopItem a::after {
    content: "";
    border-top: 1px solid #fff;
    width: 12px;
    display: inline-block;
    position: absolute;
    top: 60%;
    right: 0;
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
}
.p-header__drawerMenuItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 10px;
  width: 100%;
  text-decoration: none;
  color: #1B224C;
  text-align: center;
  white-space: nowrap;
}
@media (max-width: 900px) {
  .p-header__drawerMenuItem::before {
    content: "";
    border-top: 1px solid #fff;
    width: 20px;
    display: inline-block;
    position: absolute;
    top: 45%;
    right: -5px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .p-header__drawerMenuItem.open::before {
    content: "";
    border-top: 1px solid #fff;
    width: 20px;
    display: inline-block;
    position: absolute;
    top: 45%;
    right: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .p-header__drawerMenuItem::after {
    content: "";
    border-top: 1px solid #fff;
    width: 20px;
    display: inline-block;
    position: absolute;
    top: 45%;
    right: -5px;
    -webkit-transform: none;
            transform: none;
  }
}
.p-header__menuText {
  font-size: clamp(0.9rem, 1.6vw, 1.3rem);
}
@media (max-width: 900px) {
  .p-header__menuText {
    color: #FFF;
  }
}
.p-header__menuLogo {
  width: 20px;
  height: 20px;
}

.p-flow {
  padding: 120px 0px 80px;
}
@media (max-width: 900px) {
  .p-flow {
    padding: 60px 0px 40px;
  }
}
.p-flow__list {
  margin: 80px auto 0px;
  padding: 0;
}
@media (max-width: 900px) {
  .p-flow__list {
    margin: 40px auto 0px;
    max-width: 600px;
  }
}
.p-flow__listItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  height: 250px;
}
@media (max-width: 900px) {
  .p-flow__listItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: normal;
    -webkit-align-items: normal;
        -ms-flex-align: normal;
            align-items: normal;
    height: auto;
    text-align: center;
    gap: 20px;
  }
}
.p-flow__listItem:not(:first-child) {
  margin-top: 80px;
}
@media (max-width: 900px) {
  .p-flow__listItem:not(:first-child) {
    margin-top: 40px;
  }
}
.p-flow__listItem--reverse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-top: 80px;
}
@media (max-width: 900px) {
  .p-flow__listItem--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: normal;
    -webkit-align-items: normal;
        -ms-flex-align: normal;
            align-items: normal;
    margin-top: 40px;
    text-align: center;
    gap: 20px;
  }
}
.p-flow__textBox {
  width: 500px;
}
@media (max-width: 900px) {
  .p-flow__textBox {
    width: 100%;
  }
}
.p-flow__listTitle {
  font-size: 24px;
}
@media (max-width: 900px) {
  .p-flow__listTitle {
    font-size: 20px;
  }
}
.p-flow__listText {
  margin-top: 40px;
}
@media (max-width: 900px) {
  .p-flow__listText {
    margin-top: 20px;
  }
}
.p-flow__img {
  max-width: 350px;
  height: 250px;
}
@media (max-width: 900px) {
  .p-flow__img {
    height: auto;
    margin: 0 auto;
  }
}
.p-flow__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-important {
  width: 900px;
  margin: 0 auto;
  padding: 80px 0px;
}
@media (max-width: 900px) {
  .p-important {
    width: 100%;
    padding: 40px 0px;
  }
}
.p-important__title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  white-space: nowrap;
}
@media (max-width: 900px) {
  .p-important__title {
    font-size: 26px;
  }
}
.p-important__linefeed {
  display: none;
}
@media (max-width: 599px) {
  .p-important__linefeed {
    display: block;
  }
}
.p-important__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 80px auto 0;
  list-style: none;
}
@media (max-width: 900px) {
  .p-important__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    max-width: 600px;
  }
}
.p-important__item {
  width: 30%;
}
@media (max-width: 900px) {
  .p-important__item {
    width: 100%;
  }
  .p-important__item:not(:first-child) {
    margin-top: 30px;
  }
}
.p-important__itemTitle {
  font-size: 1.3rem;
  font-weight: bold;
  white-space: nowrap;
}
@media (max-width: 900px) {
  .p-important__itemTitle {
    font-size: 20px;
  }
}
.p-important__itemTitle::after {
  display: block;
  content: "";
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #1B224C;
}
@media (max-width: 900px) {
  .p-important__itemTitle::after {
    width: 250px;
  }
}
.p-important__text {
  font-size: 16px;
  margin-top: 20px;
}

.p-topMenu {
  padding: 80px 0;
  background-color: #FFF;
}
@media (max-width: 900px) {
  .p-topMenu {
    padding: 40px 0;
  }
}
.p-topMenu__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.p-topMenu__textContainer {
  max-width: 600px;
  width: 100%;
  height: 100px;
  border: solid 1px black;
  text-align: center;
  padding: 20px;
}
@media (max-width: 900px) {
  .p-topMenu__textContainer {
    max-width: 600px;
    min-width: 120px;
    padding: 20px 0;
  }
}
.p-topMenu__textContainer.orange {
  max-width: 600px;
  width: 100%;
  height: 100px;
  padding: 20px;
  text-align: center;
  background-color: #FF9801;
  position: relative;
  border: none;
}
.p-topMenu__textContainer.orange ::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #FF9801 transparent transparent transparent;
  border-width: 20px 20px 0 20px;
}
@media (max-width: 900px) {
  .p-topMenu__textContainer.orange {
    max-width: 600px;
    min-width: 120px;
    padding: 20px 0;
  }
}
.p-topMenu__title {
  font-size: 32px;
  color: #FF9801;
}
@media (max-width: 900px) {
  .p-topMenu__title {
    white-space: nowrap;
    font-size: 28px;
  }
}
@media (max-width: 599px) {
  .p-topMenu__title {
    font-size: 18px;
  }
}
.p-topMenu__title.white {
  font-size: 32px;
  color: #FFF;
}
@media (max-width: 900px) {
  .p-topMenu__title.white {
    white-space: nowrap;
    font-size: 28px;
  }
}
@media (max-width: 599px) {
  .p-topMenu__title.white {
    font-size: 18px;
  }
}
.p-topMenu__subTitle {
  font-size: 16px;
}
@media (max-width: 900px) {
  .p-topMenu__subTitle {
    white-space: nowrap;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .p-topMenu__subTitle {
    font-size: 16px;
  }
}
.p-topMenu__subTitle.white {
  font-size: 16px;
  color: #FFF;
}
@media (max-width: 900px) {
  .p-topMenu__subTitle.white {
    white-space: nowrap;
    font-size: 16px;
  }
}
.p-topMenu__list {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.p-topMenu__list :nth-child(n+5) {
  margin-top: 30px;
}
@media (max-width: 900px) {
  .p-topMenu__list {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .p-topMenu__list :nth-child(n+3) {
    margin-top: initial;
  }
}
.p-topMenu__item {
  list-style: none;
  width: 20%;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .p-topMenu__item {
    width: 40%;
  }
}
.p-topMenu__imgContainer {
  max-width: 275px;
}
@media (max-width: 900px) {
  .p-topMenu__imgContainer {
    max-width: initial;
    height: auto;
  }
}
.p-topMenu__image {
  width: 100%;
  height: auto;
}
.p-topMenu__text {
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 900px) {
  .p-topMenu {
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .p-topMenu {
    font-size: 16px;
  }
}
.p-topMenu__btnContainer {
  text-align: center;
  margin-top: 40px;
}
.p-topMenu__btn {
  background-color: #FF9801;
  width: 200px;
  height: 50px;
  border: none;
  color: #FFF;
}

.p-shopInfo {
  padding: 60px 0;
  color: #1B224C;
}

.p-shopInfomation {
  margin-top: 60px;
}
.p-shopInfomation__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}
@media (max-width: 900px) {
  .p-shopInfomation__wrapper {
    display: block;
    margin-top: 40px;
  }
}
.p-shopInfomation__infoContent {
  max-width: 40%;
  overflow-wrap: break-word;
}
@media (max-width: 900px) {
  .p-shopInfomation__infoContent {
    max-width: 100%;
  }
}
.p-shopInfomation__shopName {
  font-size: 32px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .p-shopInfomation__shopName {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .p-shopInfomation__shopName {
    font-size: 28px;
  }
}
.p-shopInfomation__shopAddress {
  font-size: 24px;
  margin-top: 40px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .p-shopInfomation__shopAddress {
    font-size: 22px;
    margin-top: 20px;
  }
}
@media (max-width: 599px) {
  .p-shopInfomation__shopAddress {
    font-size: 20px;
  }
}
.p-shopInfomation__shopHours {
  font-size: 24px;
  margin-top: 40px;
}
@media (max-width: 900px) {
  .p-shopInfomation__shopHours {
    font-size: 22px;
    margin-top: 20px;
  }
}
@media (max-width: 599px) {
  .p-shopInfomation__shopHours {
    font-size: 20px;
  }
}
.p-shopInfomation__shopImg {
  max-width: 500px;
  height: 350px;
  width: 50%;
}
@media (max-width: 900px) {
  .p-shopInfomation__shopImg {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    margin-top: 40px;
  }
}
.p-shopInfomation__shopImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.p-shopInfomation__contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px auto 0;
  max-width: 1050px;
}
@media (max-width: 900px) {
  .p-shopInfomation__contact li:not(:first-child) {
    margin-top: 10px;
  }
}
@media (max-width: 900px) {
  .p-shopInfomation__contact {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: block;
    margin-top: 40px;
  }
}
.p-shopInfomation__contactLink {
  width: 100%;
  height: 100%;
  display: contents;
}
.p-shopInfomation__contactLink:visited {
  color: #FFF;
}
.p-shopInfomation__contactMail, .p-shopInfomation__contactTel, .p-shopInfomation__contactLine {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  color: #FFF;
  text-decoration: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 8px;
  max-width: 300px;
  width: 30%;
  height: 100px;
  padding: 0 20px;
}
@media (max-width: 900px) {
  .p-shopInfomation__contactMail, .p-shopInfomation__contactTel, .p-shopInfomation__contactLine {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 80%;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    padding: 0 10%;
  }
}
@media (max-width: 599px) {
  .p-shopInfomation__contactMail, .p-shopInfomation__contactTel, .p-shopInfomation__contactLine {
    max-width: 100%;
    width: 100%;
    height: 60px;
  }
}
.p-shopInfomation__contactMail {
  background-color: #FF9801;
  font-size: 24px;
}
@media (max-width: 900px) {
  .p-shopInfomation__contactMail {
    font-size: 22px;
  }
}
@media (max-width: 599px) {
  .p-shopInfomation__contactMail {
    font-size: 20px;
  }
}
.p-shopInfomation__contactMailImg {
  width: 35px;
  height: 35px;
}
@media (max-width: 900px) {
  .p-shopInfomation__contactMailImg {
    margin-right: 50px;
  }
}
.p-shopInfomation__contactTel {
  background-color: #009DFF;
  font-size: 20px;
}
@media (max-width: 900px) {
  .p-shopInfomation__contactTel {
    font-size: 22px;
  }
}
@media (max-width: 599px) {
  .p-shopInfomation__contactTel {
    font-size: 20px;
  }
}
.p-shopInfomation__contactTelImg {
  width: 35px;
  height: 35px;
}
@media (max-width: 900px) {
  .p-shopInfomation__contactTelImg {
    margin-right: 50px;
  }
}
.p-shopInfomation__contactTelInfo {
  text-align: center;
}
@media (max-width: 900px) {
  .p-shopInfomation__contactTelInfo {
    display: block;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.p-shopInfomation__contactTelNum {
  background-color: #FFF;
  color: #009DFF;
  padding: 10px 7px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 15px;
}
@media (max-width: 900px) {
  .p-shopInfomation__contactTelNum {
    margin: auto 0;
    padding: 5px 4px;
  }
}
@media (max-width: 599px) {
  .p-shopInfomation__contactTelNum {
    font-size: 12px;
    padding: 1px 2px;
  }
}
.p-shopInfomation__contactLine {
  background-color: #5AC363;
  font-size: 24px;
}
@media (max-width: 900px) {
  .p-shopInfomation__contactLine {
    font-size: 22px;
  }
}
@media (max-width: 599px) {
  .p-shopInfomation__contactLine {
    font-size: 20px;
  }
}
.p-shopInfomation__contactLineImg {
  width: 35px;
  height: 35px;
}
@media (max-width: 900px) {
  .p-shopInfomation__contactLineImg {
    margin-right: 50px;
  }
}

.p-shopIntroduction {
  margin-top: 80px;
}
.p-shopIntroduction__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}
@media (max-width: 900px) {
  .p-shopIntroduction__wrapper {
    display: block;
    margin-top: 20px;
  }
}
.p-shopIntroduction__img {
  max-width: 500px;
  height: 350px;
  width: 50%;
  margin-right: 35px;
}
@media (max-width: 900px) {
  .p-shopIntroduction__img {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}
.p-shopIntroduction__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.p-shopIntroduction__text {
  max-width: 50%;
  margin-top: 55px;
  font-size: 16px;
}
@media (max-width: 900px) {
  .p-shopIntroduction__text {
    max-width: 100%;
    margin-top: 28px;
  }
}
.p-shopIntroduction__text p:not(:first-child) {
  margin: 1rem 0rem 0rem;
}

.p-shopRepairCost {
  margin-top: 80px;
  border-color: #707070;
}
@media (max-width: 900px) {
  .p-shopRepairCost {
    margin-top: 40px;
  }
}
.p-shopRepairCost th {
  background-color: #FF9801;
  color: #FFF;
  border: solid 1px #707070;
  font-weight: bold;
  width: 400px;
  height: 50px;
}
.p-shopRepairCost td {
  border: solid 1px #707070;
  width: 400px;
  height: 50px;
}
.p-shopRepairCost table {
  border-collapse: collapse;
  margin-top: 40px;
  font-size: 24px;
}
@media (max-width: 900px) {
  .p-shopRepairCost table {
    margin-top: 20px;
    font-size: 22px;
  }
}
@media (max-width: 599px) {
  .p-shopRepairCost table {
    font-size: 20px;
  }
}
.p-shopRepairCost p {
  margin-top: 20px;
}

.p-shopRoot {
  margin-top: 170px;
}
@media (max-width: 900px) {
  .p-shopRoot {
    margin-top: 85px;
  }
}
@media (max-width: 599px) {
  .p-shopRoot {
    margin-top: 40px;
  }
}
.p-shopRoot__list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  margin-top: 75px;
  gap: 40px 2vw;
}
@media (max-width: 900px) {
  .p-shopRoot__list {
    display: block;
    margin-top: 40px;
  }
}
.p-shopRoot__item {
  width: 400px;
}
@media (max-width: 900px) {
  .p-shopRoot__item {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .p-shopRoot__item:not(:first-child) {
    margin-top: 50px;
  }
}
.p-shopRoot__item p {
  margin-top: 20px;
}
@media (max-width: 900px) {
  .p-shopRoot__item p {
    margin-top: 10px;
  }
}
.p-shopRoot__itemImg {
  width: 400px;
  height: 250px;
}
@media (max-width: 900px) {
  .p-shopRoot__itemImg {
    width: 100%;
    height: 100%;
  }
}
.p-shopRoot__itemImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.p-shopRoot__itemMap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}
@media (max-width: 900px) {
  .p-shopRoot__itemMap {
    margin-top: 40px;
  }
}
.p-shopRoot__itemMapImg {
  width: 1020px;
  height: 500px;
}
@media (max-width: 900px) {
  .p-shopRoot__itemMapImg {
    width: 100%;
  }
}
@media (max-width: 599px) {
  .p-shopRoot__itemMapImg {
    height: 300px;
  }
}

.p-shopNews {
  margin-top: 175px;
}
@media (max-width: 900px) {
  .p-shopNews {
    margin-top: 85px;
  }
}
@media (max-width: 599px) {
  .p-shopNews {
    margin-top: 40px;
  }
}
.p-shopNews__list {
  margin: 80px auto 0;
}
@media (max-width: 900px) {
  .p-shopNews__list {
    margin-top: 40px;
  }
}
.p-shopNews__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1017px;
}
@media (max-width: 900px) {
  .p-shopNews__item {
    display: block;
  }
}
.p-shopNews__item:not(:first-child) {
  margin-top: 25px;
}
.p-shopNews__itemDate {
  margin-right: 40px;
  font-size: 16px;
}
@media (max-width: 900px) {
  .p-shopNews__itemDate {
    width: 100%;
    margin-right: 0;
  }
}
.p-shopNews__itemContent {
  max-width: 80%;
  font-size: 16px;
}
@media (max-width: 900px) {
  .p-shopNews__itemContent {
    max-width: 100%;
  }
}

.u-hidden {
  display: none;
}

@media (min-width: 901px) {
  .u-hidden-pc {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .u-hidden-tab {
    display: none;
  }
}

@media (max-width: 599px) {
  .u-hidden-sp {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */