@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  color: #1B224C;
  letter-spacing: normal;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  min-height: 100%;
}

/* A Modern CSS Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 20;
}
@media (max-width: 599px) {
  .l-header {
    height: 80px;
  }
}

.l-main {
  padding-top: 100px;
  background-color: #F5F5F5;
}
@media (max-width: 599px) {
  .l-main {
    padding-top: 80px;
  }
}

.l-container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
  padding: 0 40px;
}
@media (max-width: 900px) {
  .l-container {
    padding-left: 30px;
    padding-right: 30px;
    width: calc(100% - 30px * 2);
  }
}
@media (max-width: 599px) {
  .l-container {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 20px * 2);
  }
}

.l-footer {
  padding: 0 40px;
  bottom: 0;
  width: 100%;
}
@media (min-width: 600px) and (max-width: 900px) {
  .l-footer {
    padding: 0 30px;
  }
}
@media (max-width: 599px) {
  .l-footer {
    padding: 0 20px;
  }
}

.l-wrapper {
  min-height: 100vh;
  position: relative;
}

.c-sample {
  font-size: 18px;
  background-color: #FF9801;
}

.c-btn {
  background-color: #FF9801;
  width: 200px;
  height: 50px;
  margin-top: 40px;
  border: none;
  color: #FFF;
}
.c-btn__container {
  text-align: center;
}

.p-example {
  width: 300px;
  height: 100px;
}

.p-info {
  padding: 120px 0 0;
}
.p-info__list {
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.p-info__item {
  list-style: none;
}
.p-info__imgContainer {
  height: 250px;
}
.p-info__image {
  width: 100%;
  height: 100%;
}
.p-info__text {
  font-size: 16px;
  color: #1B224C;
  margin-top: 20px;
  display: inline-block;
}

.p-work {
  padding: 120px 0 80px;
}
.p-work__list {
  margin-top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
  list-style: none;
}
.p-work__item {
  text-align: center;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
.p-work__imgContainer {
  height: 300px;
}
.p-work__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.p-work__title {
  font-size: 32px;
  margin-top: 40px;
  color: #1B224C;
}
.p-work__text {
  margin-top: 25px;
  font-size: 16px;
  color: #1B224C;
}

.p-menu {
  overflow-x: hidden;
  padding: 80px 0 90px;
  background-color: #FFF;
}
.p-menu__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.p-menu__textContainer {
  width: 600px;
  height: 100px;
  border: solid 1px black;
  text-align: center;
  padding: 20px;
}
.p-menu__textContainer--right {
  width: 600px;
  height: 100px;
  text-align: center;
  padding: 20px;
  background-color: #FF9801;
  position: relative;
}
.p-menu__textContainer--right ::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #FF9801 transparent transparent transparent;
  border-width: 20px 20px 0 20px;
}
.p-menu__title {
  font-size: 32px;
  color: #FF9801;
}
.p-menu__title--right {
  font-size: 32px;
  color: #FFF;
}
.p-menu__subTitle {
  font-size: 16px;
}
.p-menu__subTitle--right {
  font-size: 16px;
  color: #FFF;
}
.p-menu__list {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.p-menu__list :nth-child(n+5) {
  margin-top: 30px;
}
.p-menu__item {
  list-style: none;
}
.p-menu__imgContainer {
  max-width: 275px;
  height: 240px;
}
.p-menu__image {
  width: 100%;
  height: 100%;
}
.p-menu__text {
  text-align: center;
  margin-top: 20px;
}

.p-shopList {
  padding: 80px 0 90px;
}
.p-shopList__container {
  margin-top: 60px;
}
.p-shopList__table {
  border: solid 1px black;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.p-shopList__area {
  border: solid 1px black;
  width: 200px;
  padding: 1em;
  background-color: #FF9801;
  color: #FFF;
  width: 20%;
}
.p-shopList__icon {
  width: 24px;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/images/icn-twitter.svg");
}
.p-shopList__pref {
  padding: 1em;
}
.p-shopList__shopName {
  padding: 1em;
  border: solid 1px black;
}

.p-news {
  padding: 120px 0 80px;
}

.u-hidden {
  display: none;
}

@media (min-width: 901px) {
  .u-hidden-pc {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .u-hidden-tab {
    display: none;
  }
}

@media (max-width: 599px) {
  .u-hidden-sp {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */